@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-typeface:"Poppins", sans-serif;
    --secondary-typeface:"Quicksand", sans-serif;

	--p:14px;

	--container-padding:1.5rem 1.25rem 2.5rem;

	--line-height-s:1.5;

	--height:100vh;

	--text-color:#121212;
	--grey:#757575;
	--green:#88A67F;
}
/* About Text */
h2{
	font-size:var(--p);
	color: #88A67F;
	font-size:1.2rem;
}

body {
	font-family:var(--main-typeface);
	color: var(--text-color);
	line-height:var(--line-height-s);
}

.container {
	padding:var(--container-padding);
}
  
/* Header */
.header{
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	align-items: start;
	margin-bottom:4rem;
}

.web-title {
	text-align: right;
}

.logo{
	height:20px;
	width:auto;
	display:block;
}
  
/* Projects */
.projects-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.filter-button {
	background-color:var(--green);
	width:2rem;
	height:2rem;
	border-radius:50%;
	font-size: 1rem;
	text-align:center;
	color:white;
	cursor:pointer;
}

.select-projects{
	margin-bottom:1rem;
}

/* .project-image img {
	width: 100%;
	border-radius: 6px;
  } */

/* Footer */
.footer {
	text-align: center;
}

.email {
	margin-bottom: 16px;
	font-size: 0.95rem;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	font-weight:400;
}
  
.nav-links a {
	color:var(--grey);
}

.project-preview {
	display: none;
}
  
.project-preview.active {
	display: block;
}

.about-header,
.projects-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #757575;
	padding-bottom: 8px;
	margin-bottom: 20px;
}
  
.collapsible-content {
	display: none;
	transition: all 0.3s ease;
}
  
.collapsible-content.show {
	display: block;
}

.collapsible-toggle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
  
.toggle-icon {
	font-size: 1.25rem;
	transition: transform 0.3s ease;
}
  
.toggle-icon.expanded {
	transform: rotate(180deg);
}

@media (min-width:1200px){

.about-projects-wrapper {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 60px;
	align-items: start;
}
	
.about,
.projects {
	display: grid;
	align-items: start;
}
	
.about h2,
.projects-header h2 {
	font-size: 1.25rem;
}
	
.about p {
	font-size: 1rem;
	margin-bottom: 16px;
}
	
.select-projects {
	display: flex;
	gap: 12px;
	margin-bottom: 20px;
}
	
.filter-button {
	background-color:var(--green);
	width:2rem;
	height:2rem;
	border-radius:50%;
	font-size: 1rem;
	text-align:center;
	color:white;
}
	
.project-image img {
	max-width: 80%;
	height: auto;
}
	
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 80px;
	font-size: 1rem;
	padding:1.5rem;
}
	
.nav-links {
	gap:2rem;
	display: flex;
}
}